<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>The Thought's Tech Blog</title>
        <link 
        rel="stylesheet" 
        href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link 
        rel="stylesheet" 
        href="/css/styles.css">
    </head>
{{!-- navbar with variables to account for whether the user is logged in and a dropdown menu of all users who have posted if you want to see posts from one specific user --}}
    <header class="section">
        <div class="container">
            <h1 class="title">
                The Thought's Tech Blog
            </h1>
        </div>
    </header>

    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item header-logo" href='/'>
            <img src="/images/whosethot.png" width="36" height="36">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href='/dashboard'>
                    Your Dashboard
                </a>

                {{!-- <a class="navbar-item" href='/blogposts'>
                    View All Blog Posts
                </a> --}}

                {{!-- adjusting to add /newpost and /allusers instead of dropdown --}}

                <a class="navbar-item" href="/newpost">
                    Create New Blog Post
                </a>

                <a class="navbar-item" href="/allusers">
                    View Blog Posts By User
                </a>
            </div>
            
            <div class="navbar-end">
                {{!-- if the user is logged in, show user name and only display log out button; if user is not logged in show only buttons to sign up or log in --}}
            {{#if logged_in}}
                <div class="navbar-item">
                    {{!-- need to set username on all routes so that this works consistently --}}
                    Logged in as&nbsp;<strong>{{username}}</strong>
                </div>
                <div class="navbar-item">
                    <div class="buttons">
                        <a id="logout" class="button is-light logoutBtn">
                            Log Out
                        </a>
                    </div>
                </div>
            {{else}}
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary goSignUpBtn">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light goLogInBtn">
                            Log in
                        </a>
                    </div>
                </div>
            {{/if}}
            </div>
        </div>
    </nav>
    <body>
        <main>
            {{{ body }}}
        </main>
    </body>
    <footer>

    </footer>
    <script src="/javascript/logout.js"></script>
</html>
{{!-- add javascript sources --}}