<div class="container">
    <h1>New Blog Post</h1>
    <form id="new-blogpost">
        {{!-- use bulma styling to make it clear when a field is required --}}
        <input type="text" id="new-title" placeholder="Title">
        <textarea type="text" id="new-description" placeholder="Description"></textarea>
        <h1 id="new-status">
            Fill in all required inputs, no less than 5 characters are allowed.
        </h1>
        <button class="button" id="newpost-submit" type="submit">Post!</button>
    </form>
</div>

<hr id="dashboardHr" />
<h1 id="your-posts">Your Posts</h1>
<div id="dashboard-posts">
    {{#if blogposts}}{{else}}
    <p id="no-posts">You have not yet posted anything!</p>
    {{/if}}

    {{#each blogposts as |blogpost|}}
    <div id="single-post">
        <div id="post-header">
            <h1 id="post-title">{{blogpost.title}}</h1>
            <p id="post-date">{{format_date blogpost.date}}</p>
        </div>
        <p id="post-body">{{blogpost.description}}</p>
        <div class="buttons">
            <button id="editBtn">Edit Blog Post</button>
            <button id="deleteBtn">Delete Blog Post</button>
            <button id="commentsBtn">View Comments</button>
        </div>
    </div>
    {{/each}}
</div>
{{!-- add javascripts here --}}
<script src="../public/javascript/newpost.js"></script>